.tarjeta {
  width: 70%;
  align-items: center; 
  text-align: center;
  padding: 5%;
  border-width: 3px;
  border-color: black;
  border-style: solid;
  background-color: #f9f1f1;
}

.imagen {
  height: 40%;
  width: 40%;
}

.titulo {
  font-weight: bolder;
  font-size: medium;
  text-transform: uppercase;
  margin: 0;
}