
.App {
  display: flex;
  flex-direction: column;
}

.App-header {
  flex-direction: column;
  width: 80%;
  align-self: center;
}

.cuerpo {
  flex-direction: column;
  width: 80%;
  align-self: center;
}


.logo {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}


.nombreComp {
  font-size: 30px;
  color: black;
  text-align: left;
  font-family: 'Indie Flower', cursive;
  text-transform: initial;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: bolder;
}

@font-face {
  font-family: 'Indie Flower';
  src: url('./fonts/IndieFlower-Regular.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
}


.footer {
  padding: 30px;
  align-self: center;
}